.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6rem 10%; /* նվազեցրեք padding-ը՝ փոքր էկրանների համար */
    gap: 2rem;
    text-align: left;
}

.about-content > div {
    max-width: 60%; /* սահմանափակում, որ տեքստը խտացված լինի */
}

.about-content h2 {
    font-size: 2rem;
    color: var(--title-color);
    margin-bottom: 1rem;
    font-family: "Roboto", sans-serif;
}

.about-content p {
    font-size: 1rem;
    color: var(--title-color);
    line-height: 1.5;
    margin-bottom: 1rem;
    font-family: "Roboto", sans-serif;
}

.about-content ul {
    padding-left: 1.5rem; /* ցուցակի համար ներքին բացվածք */
}

.about-content img {
    max-width: 40%; /* պատկերն ավելի կոմպակտ դարձնելու համար */
    height: auto;
    border-radius: 8px;
}

@media (max-width: 900px) {
    .about-content {
        flex-wrap: wrap;
        padding: 4rem 5%; /* փոքր էկրանների համար կրճատված padding */
    }
    .about-content img {
        max-width: 100%;
        margin-top: 1rem;
    }
    .about-content > div {
        max-width: 100%;
    }
    .about-content h2 {
        font-size: 1.8rem;
    }
    .about-content p, .about-content ul {
        width: auto;
    }
}
